body {
    font-family: 'Roboto', sans-serif;
}

.portfolio-item .row,
.home-page .row {
    margin-bottom: 20px;
}

.display-side {
    margin-top: 20px;
}

.img-responsive {
    width: 100%;
}

.fa-circle.fullwidth {
    color: #166DDB;
    display: block;
    width: 100%;
    white-space: pre;
    overflow: hidden;
}

.fa-circle.fullwidth:before {
    content: "\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020"
}

@media (max-width: 767px) {
    .col-xs-12:not(:first-child) {
        margin-top:20px;
    }
}
