body {
    font-family: 'Roboto', sans-serif;
    color: rgb(127, 126, 126);
}

h4 {
    color: rgb(0, 120, 255);
    font-size: 19px;
}

h4 a:link,
h4 a:visited,
h4 a:hover,
h4 a:active {
    color: rgb(0, 120, 255);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.portfolio-item .row,
.home-page .row {
    margin-bottom: 20px;
}

.display-side {
    margin-top: 20px;
}

.img-responsive {
    width: 100%;
}

.fa-circle.fullwidth {
    color: #166DDB;
    display: block;
    width: 100%;
    white-space: pre;
    overflow: hidden;
}

.fa-circle.fullwidth:before {
    content: "\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020\f111\0020"
}

@media (max-width: 767px) {
    .col-xs-12:not(:first-child) {
        margin-top:20px;
    }
}
